.portfolio-item { 
  margin-bottom: 20px;
  .card { 
    a { 
      height: 200px;
      padding: 10px;  
    }
    .card-title {
      font-size: 14px; 
      a {
        padding: 0;
      }
    }

    .card-text {
      div {
        font-size: 14px;  
        white-space: nowrap;
        overflow: hidden;
        o-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }
      a {
        height: auto;
        padding: 0; 
      }
      img {
         display: none;
      }
    }
  }
}

.form-control-borderless {
    border: none;
    &:hover,
    &:active,
    &:focus { 
      border: none;
      outline: none;
      box-shadow: none;
    }
}